.whole-page {
    display: flex;
    height: 100vh;    
    background-color: #bad0ae;

}
.wrapper {
    display: fixed;
    background-color: #597c47;
    align-items: center;
    width: 100%;
    
}
.header-container button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  padding: 20px; 
  margin-left: auto; 
}