 
<html>
<div class="wrapper"></div>
    <div class="header-container">  
        <router-outlet name="header"></router-outlet>
    </div>
<body>
    <div class="content-space">
        <!--include button for zip or name and then run the corresponding function-->
            <div *ngIf="businessZip">
                <p>Showing {{ retrievedData.length }} Results for: {{ businessZip }}</p>
                <div id="businesses"></div>
            </div>
            <div *ngIf="businessName">
                <p>Showing {{ retrievedData.length }} Results for: {{ businessName }}</p>
                <div id="businesses"></div>
            </div>
        </div>

</body>
</html>