/* You can add global styles to this file, and also import other style files */

/*for sidebar*/
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    font-size: 18px;
}

app-sidebar {
    width: 200px; 
    background-color: #f0f0f0;
  }