<div class="wrapper">


    <div class="header-container">
        
        <router-outlet name="header"></router-outlet>
        <button (click)="toggleSidebar()" class="button">    
            <svg width="40px" height="40px" viewBox="0 0 24 24" fill="#94bb86" xmlns="http://www.w3.org/2000/svg" >
            <path d="M4 6H20M4 12H20M4 18H20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>




    
</div>
<div class="sidebar-container" *ngIf="sidebarVisible">
    <router-outlet name="sidebar"></router-outlet>
</div>

<div class="home-container">
    <router-outlet name="homecomp"></router-outlet>
</div>